.row .col-12 {
	margin-bottom: 1rem;
	padding-top: 0.5rem;
	padding-bottom: 1rem;
	min-height: calc(100vh - 160px);
}

.navbar-nav {
	background: rgba(255, 255, 255, 0.3);
	margin: 0.5rem -1rem -0.5rem -1rem;
	text-align: center;
}
.navbar-nav .nav-item {
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.navbar-nav .nav-item:nth-of-type(1) {
	border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.navbar-dark .navbar-toggler {
	border-color: rgba(255, 255, 255, 0.6);
}
#chicken {
	background: rgb(100, 177, 223);
}
#beef {
	background: rgb(241, 135, 180);
}
#sushi {
	background: rgb(118, 230, 202);
}

.navbar {
	background: lightcoral;
}
